<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>status</key>
	<string>1</string>
	<key>data</key>
	<dict>
		<key>isMustLogin</key>
		<integer>0</integer>
		<key>isForceUpdate</key>
		<integer>1</integer>
		<key>updateVersion</key>
		<string>2019050702</string>
		<key>updateUrl</key>
		<string>http://anyapp.fandong.me/index.html</string>
	</dict>
	<key>msg</key>
	<string></string>
</dict>
</plist>
